@import "page";


// Custom styles go here

body {
	font-family: $primary-font;
	color: $text-color;
	background: $inverted-background-color;
}

h1, h2, h3, h4, h5, h6, .title, .subtitle, .btn {
	font-family: $secondary-font;
	text-transform: uppercase;
	line-height: 1.2;
	font-weight: bold;
	margin: 5px 0;
}

button.btn {
	padding: 10px 20px;
	margin: 10px 10px 10px 0;
}

i {display: block;}

a {
	cursor: pointer;
	color: $text-color;
}

a.link {
	color: $link-color;
}

.has-icon {
	padding-left: 40px;

	i {
		position: absolute;
		left: 14px;
		top: 5px;
	}
}

.toast {
	background: $primary-color;
	border-radius: 0;
	padding: 40px;
	width: 100%;
	margin: 10px 0;

	&::after {
		right: 0;
		cursor: pointer;
		font-family: $secondary-font;
		font-size: 1em;
		color: $white;
		position: absolute;
		padding: 0 35px 0 0;
		content: "X";
	}
}


hr.dash {
	width: 15px;
	box-shadow: none;
	height: 1px;
	border: 1px solid $lighter-gray;
	color: $lighter-gray;
	background: $lighter-gray;
	display: inline-block;
	padding: 0;
	margin: 0 2px 3px 2px;
}

.nav-overlay {
	top: 0;
	left: 0;
	position: fixed;
	z-index: 999;
	background: $white;
	display: none;
	width: 100%;
	height: 100%;

	.close {
		position: fixed;
		top: 0;
		right: 0;
		font-size: 5em;
		margin: 40px;
		color: $light-gray;
		cursor: pointer;
		transition: ease-in-out 0.2s;

		&:hover {
			color: $lighter-gray;
			transform: rotate(90deg);
			-webkit-transform: rotate(90deg);
			transition: ease-in-out 0.2s;
		}
	}

	.inner-overlay {
		margin: 0 auto;
		max-width: 400px;
		height: 100%;
		text-align: center;

		ul {
			margin: 0 auto;
			border-top: 7px solid $darker-gray;
		    border-bottom: 7px solid $darker-gray;
		    padding: 20px 0;

			 li {
				text-align: center;

				a {
					text-align: center;
					font-size: 4em;
					text-transform: uppercase;
					font-weight: bold;
					font-family: $secondary-font;
				}
			}
		}
	}
}

textarea {
	background-color: transparent;
    border: none;
    border-bottom: 1px solid $lighter-gray;
    outline: none;
    width: 100%;
    max-width: 100%;
    min-width: 100%;
    min-height: 200px;
    font-size: 1rem;
    margin: 0 0 15px 0;
    padding: 0;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    @include transition(0.3s);

    &:hover {
    	border-bottom: 1px solid $secondary-color;
    	    box-shadow: 0 1px 0 0 $secondary-color;
    }
}

.img-selector {
	display: block;
    padding: 10px 0;

    i {
    	font-size: 1.8em;
    	color: $blue;
    	padding: 10px 10px 0 0;
    }
}

.container {
	max-width: 630px;
	
	header.site-header {

		h1, h2, span, i {
			color: $inverted-text-color;
		}

		.logged-in-bar {
			width: 100%;
			min-height: 60px;
			padding: 5px 0;

			.top-avatar, .name, i {
				float: right;
				cursor: pointer;
			}

			.name, i {
				margin-top: 15px;
			}

			.top-avatar {
				border-radius: $radius-circle;
				height: 40px;
				width: 40px;
				border: 3px solid $secondary-color;
				margin: 4px 6px;
			}
		}

		.dropdown {
		    position: relative;
		    display: inline-block;
		    float: right;
		}

		.nav-submenu {
			margin-top: 30px;
			padding-top: 30px;
			display: none;
			float: right;
			right: 0;
			position: absolute;


			li {
				display: block;
				background: $white;

				&:hover {
		    		background: $lighter-gray;
		    	}

				a {
					display: block;
					color: $text-color;
					padding: 10px 20px;
				}
			}
		}

		.submenu-toggle .nav-submenu, .dropdown:hover .nav-submenu {
		    display: block;
		}

		.site-titles {
			display: block;
			text-align: center;
			margin: 30px 0;

			.site-title {
				font-size: 3.7em;
			}

			.site-subtitle {
				font-size: 1.6em;
				color: $light-gray;
				margin-bottom: 15px;
			}
		}

		.menu-bar {
			width: 100%;
			min-height: 40px;
			margin: 15px 0;

			i {
				font-size: 2.2em;
			}

			.hamburger {
				float: left;
				display: block;
				cursor: pointer;

			}

			.search-form {
				max-width: 400px;
				float: right;
				overflow: hidden;

				.active {
					transform: translateX(-200px);
					z-index: -1;
					@include transition(.3s);
				}

				.search-icon {
					position: absolute;
					color: $inverted-text-color;
					cursor: pointer;
					margin-left: 160px;
					margin-top: 0;
					z-index: 998;
				}

				.submit-button {
						width: 30px;
						height: 30px;
						background: 0;
						position: absolute;
						margin-left: 160px;
						z-index: 1;
						border: 0;
						background: none;
				}

				#search {
					background: transparent;
					border: none;
					float: right;
					// transform: translateX(200px);
					position: relative;
					max-width: 100%;
					height: 30px;
					@include transition(.3s);

					&:active, &:focus {
						background: $white;
					}
				}
			}
		}
	}

	main {
		.white-block {
			background: $white;
			padding: 30px 40px;
			margin: 30px 0;
			word-wrap: break-word;

			&:first-child {
				margin: 0 0 30px 0;
			}

			header {
				h1 {font-size: $title-size;}

				.date, .time {
					font-size: $span-size;
					color: $light-gray;
				}
			}

			.read-more {
				margin: 0 auto;
				max-width: 200px;
				text-align: center;
				a {
					color: $light-gray;
				}
			}
		}
	}
}

.tag {
	font-size: 1em;
	cursor: pointer;
	color: $white;
	display: inline-block;
	padding: 7px 10px;
	letter-spacing: 1px;
	font-size: 0.8em;
	font-weight: bolder;
	text-transform: uppercase;
	margin: 6px;
	border-radius: 20px;
	background: rgba(255, 255, 255, 0.3);
	line-height: 1;

	a {
		color: $white;
		box-sizing: border-box;
	}
}


// Media Queries

 @media #{$small-and-down} {

 	.search-icon {
 		margin-left: 140px;
 	}

 	.avatar {
 		top: 570px;
 	}

 }
  @media #{$medium-and-up} {
    // styles for medium screens and larger


  }
  @media #{$medium-and-down} {

  	.container header.site-header .menu-bar .search-form {
  		.search-icon, .submit-button  {
 			margin-left: 140px;
 		}
 	}

 	.container {
 		width: 100%;
 	}
  }
  @media #{$large-and-up} {
    // styles for large screens and up
  }