

.container {

	.transparent {
		background: transparent;
	}

	.top-container {
		padding: 40px;
		min-height: 180px;
		float: none;
		clear: both;
	}

	.content {
		background: $off-white;
		margin-top: -20px;
		padding: 50px 40px;
	}

	.background {
		background: url(../img/cat.jpg);
		position: relative;
		height: 380px;
		background-size: cover;
		background-repeat: no-repeat;
		background-position: center;
		clear: both;

		h1 {
			color: $white;
			font-size: 2.5em;
			font-weight: 200;
			line-height: 1.5;
			text-shadow: 1px 1px 1px $dark-gray;
			margin: 25px 0 0 0;
		}

		.share-button {
			position: absolute;
			top: 230px;
			margin-left: -50px;

			&:hover {
				@extend .z-depth-2;
				@include transition(.3s);
			}
		}
	}

	.line-container {
		width: 100%;
		height: 200px;
    	margin-bottom: -40px;
    	z-index: -1;
    	float:left;

		.line {
			width: 100%;
			fill: $off-white;
		}
	}

	.avatar {
		position: absolute;
		top: 240px;
		width: 120px;
		height: 120px;
		border-radius: 50%;
		overflow: hidden;
		@extend .z-depth-3;
		@include transition(.3s);

		&:hover {
			@extend .z-depth-5;
			@include transition(.3s);

		}
		img {
			width: 100%;
			
		}
	}
	
	.info-bar {
		float:right;
		margin: -75px 20px 0 0;

		z-index: 1;

		.info-item {
			float:left;
			margin: 10px;

			h4 {
				font-size: 1em;
				text-transform: uppercase;
				line-height: 1;
				font-weight: bold;

				&.subtitle {
					font-size: .9em;
					font-weight: normal;
				}
			}
		}
	}
}