// Settings:

// set this to true to enable grid layout on blog.
$grid:						false !default;

$light-theme: 				false !default;

$darker-gray:				#222 !default;
$dark-gray:					#333 !default;
$gray:						#444 !default;
$light-gray:				#A0A0A0 !default;
$lighter-gray:				#ccc !default;

$white:						#fff !default;
$off-white:					#f2f2f2 !default;

$blue:							#4898FF;
$red:							#FF442F;
$green:							#3CCD69;
$yellow:						#FAAF17;

$text-color:					$darker-gray;
$link-color:					$blue;
$inverted-text-color:			$off-white;
$background-color:				$off-white;
$inverted-background-color:		$darker-gray;


// Fonts
$primary-font:					'Merriweather', serif;
$secondary-font: 				'Montserrat', sans-serif;



// Other variables
$border-radius:					3px;
$radius-circle:					50%;

$text-size:						1em;
$title-size:					2.2em;
$subtitle-size:					1.3em;
$span-size:						1em;
$button-size:					1em;

@if $grid == true {
	.container main {

		.grid-item {
			max-width: 50%;
			padding: 10px;
			box-sizing: border-box;
			float: left;
		}
	}
}

@if $light-theme == true {
	$inverted-background-color: $off-white;
	$inverted-text-color:		$darker-gray;

	.container .content {
		background: $white !important;
	}

	.container .line-container .line {
		fill: $white !important;
	}
}