@font-face {
    font-family: "Roboto";
    font-weight: 200;
}
@font-face {
    font-family: "Roboto";
    font-weight: 300;
}

@font-face {
    font-family: "Roboto";
    font-weight: 400;
}

@font-face {
    font-family: "Roboto";
    font-weight: 500;
}

@font-face {
    font-family: "Roboto";
    font-weight: 700;
}